<div class="pro section group">

  <h3 class="version_title with_borders">Pro Back Plate</h3>

  <span class="version_detail">Back Plate with functions controls</span>

  <div class="backplate_chooser group">

    <script language="javascript" type="text/javascript">
      // see thesitewizard.com/archive/navigation.shtml
      function menu_goto( menuform ){
        var baseurl = "{{site.baseurl}}" ;
        selecteditem = menuform.newurl.selectedIndex ;
        newurl = menuform.newurl.options[ selecteditem ].value ;
        if (newurl.length != 0) {
          location.href = baseurl + newurl ;
        }
      }
    </script>

    <div class="form_block">

      <h4 class="form_title inline-block">Choose Back Plate for&nbsp;&nbsp;</h4>

      <form action="camera_to_housing">
        <select name="newurl" onchange="menu_goto(this.form)">
          <option value="" selected="selected">&nbsp;camera</option>

          {% if page.pro_model01 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model01 | slugify}}/">{{page.pro_model01}}</option>
          {% endif %}

          {% if page.pro_model02 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model02 | slugify}}/">{{page.pro_model02}}</option>
          {% endif %}

          {% if page.pro_model03 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model03 | slugify}}/">{{page.pro_model03}}</option>
          {% endif %}

          {% if page.pro_model04 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model04 | slugify}}/">{{page.pro_model04}}</option>
          {% endif %}

          {% if page.pro_model05 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model05 | slugify}}/">{{page.pro_model05}}</option>
          {% endif %}

          {% if page.pro_model06 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model06 | slugify}}/">{{page.pro_model06}}</option>
          {% endif %}

          {% if page.pro_model07 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model07 | slugify}}/">{{page.pro_model07}}</option>
          {% endif %}

          {% if page.pro_model08 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model08 | slugify}}/">{{page.pro_model08}}</option>
          {% endif %}

          {% if page.pro_model09 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model09 | slugify}}/">{{page.pro_model09}}</option>
          {% endif %}

          {% if page.pro_model10 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model10 | slugify}}/">{{page.pro_model10}}</option>
          {% endif %}

          {% if page.pro_model11 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model11 | slugify}}/">{{page.pro_model11}}</option>
          {% endif %}

          {% if page.pro_model12 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model12 | slugify}}/">{{page.pro_model12}}</option>
          {% endif %}

          {% if page.pro_model13 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model13 | slugify}}/">{{page.pro_model13}}</option>
          {% endif %}

          {% if page.pro_model14 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model14 | slugify}}/">{{page.pro_model14}}</option>
          {% endif %}

          {% if page.pro_model15 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model15 | slugify}}/">{{page.pro_model15}}</option>
          {% endif %}

          {% if page.pro_model16 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model16 | slugify}}/">{{page.pro_model16}}</option>
          {% endif %}

          {% if page.pro_model17 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model17 | slugify}}/">{{page.pro_model17}}</option>
          {% endif %}

          {% if page.pro_model18 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model18 | slugify}}/">{{page.pro_model18}}</option>
          {% endif %}

          {% if page.pro_model19 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model19 | slugify}}/">{{page.pro_model19}}</option>
          {% endif %}

          {% if page.pro_model20 %}
          <option value="/water-housings/{{page.name}}-{{page.pro_model20 | slugify}}/">{{page.pro_model20}}</option>
          {% endif %}

        </select>
      </form>

    </div>

  </div>

</div>
