<div class="pro section group">
  <h3 class="version_title with_borders">Advanced Back Plate</h3>

  {% if page.status == "sale" %}
    <span class="version_detail">Back Plate with controls</span>
  {% else %}
    <span class="version_detail">Back Plate with controls for {{page.backplate}}</span>
  {% endif %}

  <div class="price">{{page.price}}</div>
  {% if page.status=="sale" %}
    <div class="full_price">{{page.old_price}}</div>
  {% endif %}
  
  <div class="order_button">
    <a href="{{site.baseurl}}/contact/"><span>Order Now</span></a>
  </div>
</div>
