

<div class="charts">

  <hr>

  <!-- <div class="fat_headers_block">
    <h2>Port & Lens</h2>
    <h4>Quickly find the S port you need for your lens.</h4>
  </div> -->

  <!-- l-ports-canon -->
  <div class="toggler" id="l_ports_chart_toggler_canon">
    <div class="title">
      <h2>Canon</h2>
    </div>
    <div class="plus" id="l_ports_plus_canon">
      {% include svg/use.html id="icn--plus" class="icon_plus" %}
    </div>
  </div>

  <div id="l_ports_chart_canon" class="chart l_ports_canon">

    {% assign lenses = site.data.charts.l_ports_canon  %}
    {% for lens in lenses %}
      {% unless lens.publish == "hide" %}
      <a class="chart_row" href="{{site.baseurl}}/accessories/ports/{{lens.port | downcase}}">
        <div class="chart_row_lens">
          <span><strong>{{lens.brand}} </strong></span>
          <span>{{lens.mm}}mm {{lens.aperture}}</span>
        </div>
        <div class="chart_row_port">
          <span>{{lens.port}}{% if lens.addon %} + {{lens.addon}}{% endif %}</span>
        </div>
      </a>
      {% endunless %}
    {% endfor %}

  </div>

  <hr>

  <!-- l-ports-nikon -->
  <div class="toggler" id="l_ports_chart_toggler_nikon">
    <div class="title">
      <h2>Nikon</h2>
    </div>
    <div class="plus" id="l_ports_plus_nikon">
      {% include svg/use.html id="icn--plus" class="icon_plus" %}
    </div>
  </div>

  <div id="l_ports_chart_nikon" class="chart l_ports_nikon">

    {% assign lenses = site.data.charts.l_ports_nikon  %}
    {% for lens in lenses %}
      {% unless lens.publish == "hide" %}
      <a class="chart_row" href="{{site.baseurl}}/accessories/ports/{{lens.port | downcase}}">
        <div class="chart_row_lens">
          <span><strong>{{lens.brand}} </strong></span>
          <span>{{lens.mm}}mm {{lens.aperture}}</span>
        </div>
        <div class="chart_row_port">
          <span>{{lens.port}}{% if lens.addon %} + {{lens.addon}}{% endif %}</span>
        </div>
      </a>
      {% endunless %}
    {% endfor %}

  </div>

  <hr>

  <!-- l-ports-sigma -->
  <div class="toggler" id="l_ports_chart_toggler_sigma">
    <div class="title">
      <h2>Sigma</h2>
    </div>
    <div class="plus" id="l_ports_plus_sigma">
      {% include svg/use.html id="icn--plus" class="icon_plus" %}
    </div>
  </div>

  <div id="l_ports_chart_sigma" class="chart l_ports_sigma">

    {% assign lenses = site.data.charts.l_ports_sigma  %}
    {% for lens in lenses %}
      {% unless lens.publish == "hide" %}
      <a class="chart_row" href="{{site.baseurl}}/accessories/ports/{{lens.port | downcase}}">
        <div class="chart_row_lens">
          <span><strong>{{lens.brand}}</strong> </span>
          <span>{{lens.mm}}mm {{lens.aperture}}</span>
        </div>
        <div class="chart_row_port">
          <span>{{lens.port}}{% if lens.addon %} + {{lens.addon}}{% endif %}</span>
        </div>
      </a>
      {% endunless %}
    {% endfor %}

  </div>

  <hr>

  <!-- l-ports-tokina -->
  <div class="toggler" id="l_ports_chart_toggler_tokina">
    <div class="title">
      <h2>Tokina</h2>
    </div>
    <div class="plus" id="l_ports_plus_tokina">
      {% include svg/use.html id="icn--plus" class="icon_plus" %}
    </div>
  </div>

  <div id="l_ports_chart_tokina" class="chart l_ports_tokina">

    {% assign lenses = site.data.charts.l_ports_tokina  %}
    {% for lens in lenses %}
      {% unless lens.publish == "hide" %}
      <a class="chart_row" href="{{site.baseurl}}/accessories/ports/{{lens.port | downcase}}">
        <div class="chart_row_lens">
          <span><strong>{{lens.brand}} </strong></span>
          <span>{{lens.mm}}mm {{lens.aperture}}</span>
        </div>
        <div class="chart_row_port">
          <span>{{lens.port}}</span>
        </div>
      </a>
      {% endunless %}
    {% endfor %}

  </div>

  <hr>

</div>
