<footer class="footer">
  <div class="container">
    <div class="inner">

      <h1 itemprop="name">{{ site.title }}</h1>

      <p class="instagram paragraph">
        <a class="link-underline" title="{{ site.instagram }}" href="https://instagram.com/{{ site.instagram }}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="twitter">
            <use xlink:href="#icn--instagram"></use>
          </svg>
        </a>
      </p>

      <p class="facebook paragraph">
        <a class="link-underline" title="{{ site.facebook }}" href="https://facebook.com/{{ site.facebook }}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="twitter">
            <use xlink:href="#icn--facebook"></use>
          </svg>
        </a>
      </p>

      <p class="youtube paragraph">
        <a class="link-underline" title="{{ site.google.youtube }}" href="https://www.youtube.com/{{ site.google.youtube }}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="twitter">
            <use xlink:href="#icn--youtube"></use>
          </svg>
        </a>
      </p>

      <p class="twitter paragraph">
        <a class="link-underline" title="{{ site.twitter_username }}" href="https://twitter.com/{{ site.twitter_username }}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="twitter">
            <use xlink:href="#icn--twitter"></use>
          </svg>
        </a>
      </p>

      <p class="copyright paragraph">
        <span>© 2017 {{ site.title }}</span>
      </p>
    </div>
  </div>
</footer>
