<footer class="footer">
  <div class="container">
    <div class="inner">

      <p class="footer_logo paragraph">
        {% include svg/use.html id="icn--liquideye_logo" class="liquideye_logo" %}
      </p>

      <p class="instagram_link paragraph">
        <a class="link-underline" title="{{ site.instagram }}" href="https://instagram.com/{{ site.instagram }}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="instagram_logo">
            <use xlink:href="#icn--instagram"></use>
          </svg>
          <span>{{ site.instagram }}</span>
        </a>
      </p>

      <p class="facebook paragraph">
        <a class="link-underline" title="{{ site.facebook }}" href="https://facebook.com/{{ site.facebook }}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="facebook">
            <use xlink:href="#icn--facebook"></use>
          </svg>
          <span>{{ site.facebook }}</span>
        </a>
      </p>

      <p class="youtube paragraph">
        <a class="link-underline" title="{{ site.google.youtube }}" href="https://www.youtube.com/user/{{ site.google.youtube }}/videos">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="youtube">
            <use xlink:href="#icn--youtube"></use>
          </svg>
          <span>{{ site.google.youtube }}</span>
        </a>
      </p>

      <p class="twitter paragraph">
        <a class="link-underline" title="{{ site.twitter_username }}" href="https://twitter.com/{{ site.twitter_username }}">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="twitter">
            <use xlink:href="#icn--twitter"></use>
          </svg>
          <span>{{ site.twitter_username }}</span>
        </a>
      </p>

      <p class="qr paragraph" title="liquideye.co">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="qr_liquideye_co">
            <use xlink:href="#icn--qr_liquideye_co"></use>
          </svg>
        </a>
      </p>

      <p class="copyright paragraph">
        <span>© 2017 {{ site.title }}</span>
      </p>
    </div>
  </div>
</footer>
