
<div class="looper advanced_backplate">

  <a class="looper__link" href="/water-housings/c6000spii/">Sony α6000</a>
  <a class="looper__link" href="/water-housings/c6300sp/">Sony α6300</a>
  <a class="looper__link" href="/water-housings/c6500sp/">Sony α6500</a>

  <a class="looper__link" href="/water-housings/c2100-canon-5d/">Canon 5D</a>
  <a class="looper__link" href="/water-housings/c2100-canon-5d-mk-ii/">Canon 5D mark II</a>
  <a class="looper__link" href="/water-housings/c2100-canon-5d-mk-iii/">Canon 5D mark III</a>
  <a class="looper__link" href="/water-housings/c2100-canon-5d-mk-iv/">Canon 5D mark IV</a>
  <a class="looper__link" href="/water-housings/c2100-canon-6d/">Canon 6D</a>
  <a class="looper__link" href="/water-housings/c2100-canon-7d/">Canon 7D</a>
  <a class="looper__link" href="/water-housings/c2100-canon-7d-mk-ii/">Canon 7D mark II</a>
  <a class="looper__link" href="/water-housings/c2100-canon-60d/">Canon 60D</a>
  <a class="looper__link" href="/water-housings/c2100-canon-70d/">Canon 70D</a>

  <a class="looper__link" href="/water-housings/c1794xii-canon-1dx/">Canon 1D X</a>
  <a class="looper__link" href="/water-housings/c1794xii-canon-1dx-mk-ii/">Canon 1D X mark II</a>

  <!-- <a class="looper__link" href="/water-housings/c1893/">Nikon D5</a> -->

  <a class="looper__link" href="/water-housings/c2100-nikon-d500/">Nikon D500</a>
  <a class="looper__link" href="/water-housings/c2100-nikon-d600/">Nikon D600</a>
  <a class="looper__link" href="/water-housings/c2100-nikon-d610/">Nikon D610</a>
  <a class="looper__link" href="/water-housings/c2100-nikon-d700/">Nikon D700</a>
  <a class="looper__link" href="/water-housings/c2100-nikon-d750/">Nikon D750</a>
  <a class="looper__link" href="/water-housings/c2100-nikon-d800/">Nikon D800</a>
  <a class="looper__link" href="/water-housings/c2100-nikon-d810/">Nikon D810</a>
  <a class="looper__link" href="/water-housings/c2100-nikon-d7100/">Nikon D7100</a>
  <a class="looper__link" href="/water-housings/c2100-nikon-d7200/">Nikon D7200</a>

  <a class="looper__link" href="/water-housings/c2050-nikon-d5200/">Nikon D5200</a>

</div>
