<script language="javascript" type="text/javascript">
// see thesitewizard.com/archive/navigation.shtml
  function menu_goto( menuform ){
    var baseurl = "{{site.baseurl}}" ;
    selecteditem = menuform.newurl.selectedIndex ;
    newurl = menuform.newurl.options[ selecteditem ].value ;
    if (newurl.length != 0) {
      location.href = baseurl + newurl ;
    }
  }
</script>

<div class="form_block">

  <h3 class="form_title inline-block">Water-housing for</h3>

  <form action="camera_to_housing">
    <select name="newurl" onchange="menu_goto(this.form)">
      <option value="" selected="selected">&nbsp;my camera</option>

      <option value="/water-housings/C2100/">Canon 5D</option>
      <option value="/water-housings/C2100/">Canon 5D mark II</option>
      <option value="/water-housings/C2100/">Canon 5D mark III</option>
      <option value="/water-housings/C2100/">Canon 5D mark IV</option>
      <option value="/water-housings/C2100/">Canon 6D</option>
      <option value="/water-housings/C2100/">Canon 7D</option>
      <option value="/water-housings/C2100/">Canon 7D mark II</option>
      <option value="/water-housings/C2100/">Canon 60D</option>
      <option value="/water-housings/C2100/">Canon 70D</option>

      <option value="/water-housings/C2050/">Canon 600D</option>

      <option value="/water-housings/C1794X/">Canon 1D X</option>
      <option value="/water-housings/C1794X/">Canon 1D X mark II</option>

      <option value="/water-housings/C1893/">Nikon D5</option>

      <option value="/water-housings/C2100/">Nikon D500</option>
      <option value="/water-housings/C2100/">Nikon D600</option>
      <option value="/water-housings/C2100/">Nikon D610</option>
      <option value="/water-housings/C2100/">Nikon D700</option>
      <option value="/water-housings/C2100/">Nikon D800</option>
      <option value="/water-housings/C2100/">Nikon D810</option>
      <option value="/water-housings/C2100/">Nikon D7000</option>
      <option value="/water-housings/C2100/">Nikon D7100</option>
      <option value="/water-housings/C2100/">Nikon D7200</option>
      
      <option value="/water-housings/C2050/">Nikon D5200</option>

      <option value="/water-housings/C6000/">Sony A6000</option>
      <option value="/water-housings/C6300/">Sony A6300</option>

    </select>
  </form>

</div>
