
<div class="product_photos slideshow">
  <div class="slideshow-slide-list">

    <div class="slideshow-slide">
      <img src="{{site.baseurl}}/assets/p/accessories/grips/{{page.photos_dir}}/01.jpg" alt="{{ page.name }}">
    </div>

    {% if page.number_of_photos >= 2 %}
    <div class="slideshow-slide">
      <img src="{{site.baseurl}}/assets/p/accessories/grips/{{page.photos_dir}}/02.jpg" alt="{{ page.name }}">
    </div>
    {% endif %}

    {% if page.number_of_photos >= 3 %}
    <div class="slideshow-slide">
      <img src="{{site.baseurl}}/assets/p/accessories/grips/{{page.photos_dir}}/03.jpg" alt="{{ page.name }}">
    </div>
    {% endif %}

    {% if page.number_of_photos >= 4 %}
    <div class="slideshow-slide">
      <img src="{{site.baseurl}}/assets/p/accessories/grips/{{page.photos_dir}}/04.jpg" alt="{{ page.name }}">
    </div>
    {% endif %}

    {% if page.number_of_photos >= 5 %}
    <div class="slideshow-slide">
      <img src="{{site.baseurl}}/assets/p/accessories/grips/{{page.photos_dir}}/05.jpg" alt="{{ page.name }}">
    </div>
    {% endif %}

    {% if page.number_of_photos >= 6 %}
    <div class="slideshow-slide">
      <img src="{{site.baseurl}}/assets/p/accessories/grips/{{page.photos_dir}}/06.jpg" alt="{{ page.name }}">
    </div>
    {% endif %}

    {% if page.number_of_photos >= 7 %}
    <div class="slideshow-slide">
      <img src="{{site.baseurl}}/assets/p/accessories/grips/{{page.photos_dir}}/07.jpg" alt="{{ page.name }}">
    </div>
    {% endif %}

    {% if page.number_of_photos >= 8 %}
    <div class="slideshow-slide">
      <img src="{{site.baseurl}}/assets/p/accessories/grips/{{page.photos_dir}}/08.jpg" alt="{{ page.name }}">
    </div>
    {% endif %}

  </div>
</div>
