{% if page.features.feature1 %}
<div class="title column">
  <h3>Features</h3>
</div>
<div class="data column">

  <p>{{page.features.feature1}}</p>
  
  {% if page.features.feature2 %}
  <p>{{page.features.feature2}}</p>
  {% endif %}
  {% if page.features.feature3 %}
  <p>{{page.features.feature3}}</p>
  {% endif %}
  {% if page.features.feature4 %}
  <p>{{page.features.feature4}}</p>
  {% endif %}
  {% if page.features.feature5 %}
  <p>{{page.features.feature5}}</p>
  {% endif %}
  {% if page.features.feature6 %}
  <p>{{page.features.feature6}}</p>
  {% endif %}
  {% if page.features.feature7 %}
  <p>{{page.features.feature7}}</p>
  {% endif %}
  {% if page.features.feature8 %}
  <p>{{page.features.feature8}}</p>
  {% endif %}
  {% if page.features.feature9 %}
  <p>{{page.features.feature9}}</p>
  {% endif %}
</div>
{% endif %}
