<div class="title column">
  <h3>What’s in the Box</h3>
</div>

<div class="data column">

  <p>{{page.included.item1}}</p>

  {% if page.included.item2 %}
  <p>{{page.included.item2}}</p>
  {% endif %}

  {% if page.included.item3 %}
  <p>{{page.included.item3}}</p>
  {% endif %}

  {% if page.included.item4 %}
  <p>{{page.included.item4}}</p>
  {% endif %}

  {% if page.included.item5 %}
  <p>{{page.included.item5}}</p>
  {% endif %}

  {% if page.included.item6 %}
  <p>{{page.included.item6}}</p>
  {% endif %}

  {% if page.included.item7 %}
  <p>{{page.included.item7}}</p>
  {% endif %}

  {% if page.included.item8 %}
  <p>{{page.included.item8}}</p>
  {% endif %}

  {% if page.included.item9 %}
  <p>{{page.included.item9}}</p>
  {% endif %}

</div>
