<script type="text/javascript">
  /* code that SPEAKs: toggle menu */
  function toggleClass(element, className){
      if (!element || !className){
          return;
      }

      var classString = element.className, nameIndex = classString.indexOf(className);
      if (nameIndex == -1) {
          classString += ' ' + className;
      }
      else {
          classString = classString.substr(0, nameIndex) + classString.substr(nameIndex+className.length);
      }
      element.className = classString;
  }

  document.getElementById('s_ports_chart_toggler_sony').addEventListener('click', function() {

    toggleClass(document.getElementById('s_ports_chart_sony'), 'now_visibile');
    toggleClass(document.getElementById('s_ports_plus_sony'), 'turned_x');
  });

</script>
