{% if page.photo01 %}
<div class="teammember_photos group">

  <figure>
    <img src="{{site.baseurl}}/assets/p/teamshots/{{page.name|slugify}}/{{page.photo01}}" alt="{{page.caption01}} | {{page.name|upcase}}">
    <figcaption>{{page.caption01}} | {{page.name }}</figcaption>
  </figure>


  {% if page.photo02 %}
  <figure>
    <img src="{{site.baseurl}}/assets/p/teamshots/{{page.name|slugify}}/{{page.photo02}}" alt="{{page.caption02}} | {{page.name|upcase}}">
    <figcaption>{{page.caption02}} | {{page.name }}</figcaption>
  </figure>
  {% endif %}

  {% if page.photo03 %}
  <figure>
    <img src="{{site.baseurl}}/assets/p/teamshots/{{page.name|slugify}}/{{page.photo03}}" alt="{{page.caption03}} | {{page.name|upcase}}">
    <figcaption>{{page.caption03}} | {{page.name }}</figcaption>
  </figure>
  {% endif %}

  {% if page.photo04 %}
  <figure>
    <img src="{{site.baseurl}}/assets/p/teamshots/{{page.name|slugify}}/{{page.photo04}}" alt="{{page.caption04}} | {{page.name|upcase}}">
    <figcaption>{{page.caption04}} | {{page.name }}</figcaption>
  </figure>
  {% endif %}

  {% if page.photo05 %}
  <figure>
    <img src="{{site.baseurl}}/assets/p/teamshots/{{page.name|slugify}}/{{page.photo05}}" alt="{{page.caption05}} | {{page.name|upcase}}">
    <figcaption>{{page.caption05}} | {{page.name }}</figcaption>
  </figure>
  {% endif %}

  {% if page.photo06 %}
  <figure>
    <img src="{{site.baseurl}}/assets/p/teamshots/{{page.name|slugify}}/{{page.photo06}}" alt="{{page.caption06}} | {{page.name|upcase}}">
    <figcaption>{{page.caption06}} | {{page.name }}</figcaption>
  </figure>
  {% endif %}

  {% if page.photo07 %}
  <figure>
    <img src="{{site.baseurl}}/assets/p/teamshots/{{page.name|slugify}}/{{page.photo07}}" alt="{{page.caption07}} | {{page.name|upcase}}">
    <figcaption>{{page.caption07}} | {{page.name }}</figcaption>
  </figure>
  {% endif %}

  {% if page.photo08 %}
  <figure>
    <img src="{{site.baseurl}}/assets/p/teamshots/{{page.name|slugify}}/{{page.photo08}}" alt="{{page.caption08}} | {{page.name|upcase}}">
    <figcaption>{{page.caption08}} | {{page.name }}</figcaption>
  </figure>
  {% endif %}

  {% if page.photo09 %}
  <figure>
    <img src="{{site.baseurl}}/assets/p/teamshots/{{page.name|slugify}}/{{page.photo09}}" alt="{{page.caption09}} | {{page.name|upcase}}">
    <figcaption>{{page.caption09}} | {{page.name }}</figcaption>
  </figure>
  {% endif %}

  {% if page.photo10 %}
  <figure>
    <img src="{{site.baseurl}}/assets/p/teamshots/{{page.name|slugify}}/{{page.photo10}}" alt="{{page.caption10}} | {{page.name|upcase}}">
    <figcaption>{{page.caption10}} | {{page.name }}</figcaption>
  </figure>
  {% endif %}

</div>
{% endif %}
