.footer {
  background-color: rgba(0,0,0,.1);
  display: block;
  width: 100%;
  text-align: center;

  .container {
    min-width: 90%;
    min-height: 100vh;
    min-height: 100vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    @include media( "screen", ">maxWidth") {
      min-width: 70%;
      margin-left: 15%;
      margin-right: 15%;
    }
  }

  .inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    @media all and (min-width: 700px)  {
      flex-direction: row;
    }
  }

  .foot {
    width: 100%;
    font-size: 15px;
    padding-top: $vertical-space-small/8;
    border-top: 1px solid darken($hr_color, 10%);
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    @media all and (min-width: 700px) {
      width: auto;
    }
  }

  .column_title {
    width: 100%;
    border-bottom: 1px solid darken($hr_color, 10%);
    font-weight: 500;
    margin-top: $vertical-space-small;
    margin-bottom: $vertical-space-small/2;
    padding-bottom: $vertical-space-small/2;
    @media all and (min-width: 700px) {
      border: 0 none;
      margin-top: 0;
    }
  }

  h1 {
    text-transform: uppercase;
    margin-bottom: $vertical-space-small;
    margin-top: $vertical-space-small;
  }

  a {
    margin-left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    &.active {
      border-bottom: 1px solid black;
    }
  }

  .paragraph {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 0;
    padding-bottom: 5px;
    a {
      padding-bottom: 5px;
      padding-right: 5px;
    }
  }

  .liquideye_logo {
    width: 100px;
    height: 100px;
    min-width: 100px;
  }

  .qr.paragraph {
    width: 100px;
    height: 100px;
    min-width: 100px;
    margin-left: -5px;
  }

  .footer_logo {
    margin-left: -2px;
  }

  .copyright {
  }
  .junglestar {//svg
    position: relative!important;
    top: 8px;
  }

  .powered {
    display: inline;
    margin-left: $vertical-space-small;
    opacity: .25;
  }
}
