.housings,
.housing {
  .content {
    @include media( "screen", ">bp1Width") {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .bungkus {
    background-color: transparent;
  }
  h2 {
    text-align: center;
    margin-bottom: $vertical-space;
  }
  .looper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: $vertical-space;
    padding-right: $vertical-space;
    @include media( "screen", ">minWidth") {
      padding-left: 0;
      padding-right: 0;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .looper__link {
    @include media( "screen", ">minWidth") {
      display: block;
      max-width: 40%;
    }
    @include media( "screen", ">bp1Width") {
      max-width: 22%;
    }
  }
  .housing_data {
    ul {
      list-style-type: disc;
      padding-left: $vertical-space-small;

    }
    li {
      padding-top: $vertical-space-small/6;
      padding-bottom: $vertical-space-small/6;
    }
  }
}

.housing_block  {
  h3 {
    text-transform: uppercase;
    margin-top: $vertical-space-small/2;
  }
  img {
    @include media( "screen", ">minWidth") {
      min-width: 170px;
      max-width: none;
      width: 100%;
      padding-left: $vertical-space-small/2;
      padding-right: $vertical-space-small/2;
    }
  }
}

.housing_top_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media( "screen", ">bp1Width") {
    flex-direction: row;
    justify-content: space-between;
  }
}
.housing_photos {
  min-width: 50%;
  max-width: 500px;
  @include media( "screen", ">bp1Width") {
    margin-right: $vertical-space-small;
  }
}

.housing_intro {
  .price {
    font-size: 2rem;
    &:before {
      content: "USD";
      padding-right: $vertical-space-small;
    }
  }
  .order_button {
    min-width: 0;
    margin-top: $vertical-space;
    span {
      font-size: 1.3rem;
      padding: $vertical-space-small;
      border: 1px black solid;
    }

  }
}
