.housings,
.housing {
  .bungkus {
    background-color: transparent;
  }
  h1 {
    text-align: center;
    padding-top: 0;
    padding-bottom: $vertical-space;
  }
  .looper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: $vertical-space;
    padding-right: $vertical-space;
    @include media( "screen", ">minWidth") {
      padding-left: 0;
      padding-right: 0;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .looper__link {//a
    padding-bottom: $vertical-space-small;
    @include media( "screen", ">minWidth") {
      display: block;
      max-width: 40%;
    }
    @include media( "screen", ">bp1Width") {
      max-width: 22%;
    }
  }
  .housing_data {
    ul {
      list-style-type: disc;
      padding-left: $vertical-space-small;

    }
    li {
      padding-top: $vertical-space-small/6;
      padding-bottom: $vertical-space-small/6;
    }
  }
}

.housing_block  {
  h3 {
    text-transform: uppercase;
    padding-top: $vertical-space-small/2;
  }
  img {
    @include media( "screen", ">minWidth") {
      min-width: 170px;
      max-width: none;
      width: 100%;
      padding-left: $vertical-space-small/2;
      padding-right: $vertical-space-small/2;
    }
  }
}

.housing_top_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media( "screen", ">bp1Width") {
    flex-direction: row;
    align-items: flex-start;
  }
}
.housing_photos {
  min-width: 50%;
  max-width: 500px;
  padding-bottom: $vertical-space-small;
  @include media( "screen", ">bp1Width") {
    margin-right: $vertical-space;
  }
}

.housing_intro {
  padding-bottom: $vertical-space;
  .price {
    font-size: 32px;
    font-weight: 300;
    &:before {
      content: "USD";
      padding-right: $vertical-space-small;
    }
  }
  .order_button {
    min-width: 0;
    padding-top: $vertical-space;
    a {
      padding: $vertical-space-small;
      color: white;
      background-color: $brand_blue;
      &:hover {background-color: lighten($brand_blue, 5%);}
    }
    span {
      font-size: 1.3rem;
    }
  }
}

.row {
  position: relative;
  z-index: 1;
}
.row::before, .row::after {
  content: " ";
  display: table;
}
.column {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  min-height: 2px;
  margin: 0px;
  padding: 0px;
  @include media( "screen", ">minWidth") {
    float: left;
  }
}

.housing_data {
  h2 {
    text-align: left;
    border-bottom: 1px solid rgb(214, 214, 214);
  }
}
.data_block {
  .title {
    padding: $vertical-space 0px;
    @include media( "screen", ">minWidth") {
      width: 30%;
      padding: 43px 0px;
    }
  }
  h3 {
    padding: 0;
    margin-right: 35px;

  }
  .data {
    padding-bottom: $vertical-space;
    border-bottom: 1px solid rgb(214, 214, 214);
    @include media( "screen", ">minWidth") {
      width: 70%;
      padding: 43px 0px;
    }
    ul {
      list-style: none;
      padding-left: 0;
      li {
        padding-top: 0;
        padding-bottom: 12px;
      }
    }
  }
}
