em { color: lighten($black, 30%);}

.team .looper__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  @include media( "screen", ">minWidth"){
    flex-direction: row;
  }
  &:hover .photographer_face {
    border: 5px solid $brand_blue;
  }

}
.photographer_face {
  border: 5px solid transparent;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  min-height: 200px;
  min-width: 200px;
  overflow: hidden;
  margin-bottom: $vertical-space;;
  @include media( "screen", ">minWidth"){
    margin-right: $vertical-space;
  }

}
.photographer_name {
  text-transform: capitalize;
  margin-top: 0;
  text-align: center;
  width: 100%;
  @include media( "screen", ">minWidth"){
    text-align: left;
  }
}
.photographer_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.photographer_quote, .photographer_intro {
  margin-left: 0;
  margin-right: 0;
}
.photographer_quote {
  font-style: italic;
}
.photographer_quote:before {
  content: open-quote;
  font-size: 300%;
  line-height: 1px!important;
  display: inline;
  position: relative;
  top: 22px;
  padding-right: .5rem;
  color: lighten($black, 60%);
}
.photographer_quote:after {
  content: close-quote;
  font-size: 300%;
  line-height: 1px!important;
  display: inline-block;
  position: relative;
  top: 22px;
  padding-left: .5rem;
  color: lighten($black, 60%);
}


.box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.ratings,
.events_call .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  @include media( "screen", ">bp1Width") {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}


.events_call {
  background-color: rgba(0,0,0,.1);
  padding-bottom: $vertical-space;
  img {
    max-width: 200px;
    @include media( "screen", ">minWidth") {
      max-width: 240px;
    }
  }
  .box {/*a*/
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0 none;
    &:hover {border: 0 none;}
  }
}

.small {
  padding: .25rem;
}

.us {
  flex-wrap: wrap;
}

.inline {
  display: inline-block;
}

.left {
  padding-right: 1rem;
  padding-right: 0;
  @include media( "screen", ">bp1Width") {
    padding-right: 1rem;
  }
}
.right {
  -webkit-box-ordinal-group: 3;
  order: 2;
  padding-left: 0;
  @include media( "screen", ">bp1Width") {
    padding-left: 1rem;
  }
}

.flex {
  width: 100%;
  img { width: 100%; }
  @include media( "screen", ">bp1Width") {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack:justify;
    justify-content:space-between;
    -webkit-box-align: center;
    align-items: center;
    p {
      max-width: 50%;
    }
  }
}

.social_links {
  .flex a {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 0 none;
    opacity: 1;
    &:hover { opacity: .7; }
  }
  p {
    margin-left: 0;
    margin-right: 0;
  }
}
