.social_links svg {
  width: 100px;
  height: 100px;
  margin: 0;
}

.footer svg:not(.liquideye_logo),
.insta_title svg,
.us .footer svg {
  position: static;
  width: 30px;
  height: 30px;
  min-width: 30px;
  margin-right: 5px;
}

.liquideye_logo {
  width: 100px;
  height: 100px;
  min-width: 100px;
  margin-bottom: 2rem;
}
