
.full_viewport {//view_wrap
  overflow: hidden;
  height: auto;
  @media all and (min-width: 480px) {
    height: 100vh;
  }
}

.lower_viewport {//bungkus
  overflow: hidden;
  height: 100%;
}

.slides_wrap {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.slide {//figure
  overflow: hidden;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  img {
    display: block;
    width: 110%;
  }

  @media all and (min-width: 480px) {
    min-height: calc(100% - 180px);
    img {
      position: absolute;
      bottom: 0;
      max-width: none;
      width: 230vw;
      margin-left: -225%;
    }
  }
  @media all and (min-width: 800px) {
    min-height: calc(100% - 144px);
    img {
      width: 145vw;
      margin-left: -225%;
    }
  }
  @media all and (min-width: 1260px) {
    width: 100%;
    img {
      width: 100vw;
      margin-left: -50%;
    }
  }
}
