.slider_wrap {
  position: relative;

  // DOT NAVIGATION
  .slider_navigation_dots {
    margin: 0; // remove default browser style
    padding: 0; // remove default browser style
    text-align: center; // center the dots
    margin-top: 10px; // add some space on top
    position: absolute; // absolute relative to parent
    width: 100%; // full width of the slider

    li {
      background-color: #eee; // grey the BG
      border: 1px solid #666; // border with box shadow... oooooh aaaaaah
      border-radius: 5px; // round them cause... dots
      box-shadow: inset 1px 1px 1px #888; // make them pretty
      display: inline-block; // inline cause row
      height: 10px; // set the height of the dots
      width: 10px; // set the width of the dots
      margin: 0 5px; // space the dots
      cursor: pointer; // cursor pointer for UX feedback
    }
    li.active {
      background-color: #41ABE5; // MAKE IT BLUE CAUSE ACTIVE!
      box-shadow: inset 2px 0px 2px -2px #333; // Change the boxshadow inset... just cause
    }
  }
}
/* PREREQUISITED CSS STYLES FOR LORY.JS */
.slider {

  .frame {
    // width: 880px; // was optional anyway cause we would want to set this dependign on the situation... like it could change in a media query and such
    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  .slides {
    display: inline-block;
  }

  li {
    position: relative;
    display: inline-block;
    // width: 880px; // again... optional and we are settign them in the custom styles below instead
  }

}




/* CUSTOM CSS STYLES FOR THE PEN AND THE SLIDER */
.slider {
  position: relative; // so we can position our navigation elements
  width: 100%; // set width to what we want on our custom styles and not in the prerequisite styles
  //margin: 0 auto 20px; // quickly center the slider in the pen
}

.frame {
  background-color: #2E435A; // so we can see background color
  width: 100%; // set width smaller than slider
  height: 100%; // set the height to something...
  margin: 0 auto; // center inside slider
}

.slides {
  margin-bottom: 0px;

  .js_slide {
    color: #fff; // color white so we can see it on the BG color
    width: 100%; // set to the same width as our frame
    height: 100%; // set to the same height as our frame
    font-size: 16px; // cause lory needs to set font size 0 on the frame
    line-height: 125px; // centers vertically because it's the same as the height
  }
}



// ARROW NAVIGATION
.js_prev, .js_next {
  position: absolute; // set absolute to fall to the nearest relative parent
  top: 50%; // set top 50% for arrows, then offset for their height
  margin-top: -10px; // offset for the height of the arrows
  display: block; // block...
  cursor: pointer; // cursor pointer for UX feedback
}

.js_prev {left: 0;} // using default class names lory expects
.js_next {right: 0;} // using default class names lory expects
