<div class="container content">

  <h2 class="youtube_title">
    <span>Videos from our&nbsp;</span>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="youtube">
      <use xlink:href="#icn--youtube"></use>
    </svg>
    <span class="hide_on_small">LiquidEyeWHS</span>
  </h2>

  {% if page.youtubevideo01 %}
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{page.youtubevideo01}}" frameborder="0" allowfullscreen></iframe>
    </div>
  {% endif %}

  {% if page.youtubevideo02 %}
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{page.youtubevideo02}}" frameborder="0" allowfullscreen></iframe>
    </div>
  {% endif %}


  {% if page.youtubevideo03 %}
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{page.youtubevideo03}}" frameborder="0" allowfullscreen></iframe>
    </div>
  {% endif %}

  {% if page.youtubevideo04 %}
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{page.youtubevideo04}}" frameborder="0" allowfullscreen></iframe>
    </div>
  {% endif %}

  {% if page.youtubevideo05 %}
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{page.youtubevideo05}}" frameborder="0" allowfullscreen></iframe>
    </div>
  {% endif %}

</div>
