---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body class="about">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus colored_background group">

      <div class="fat_3_header">
        <h3 class="center">{{page.overtitle_claim}}</h3>
        <h1 class="center">{{page.title_claim}}</h1>
        <h3 class="center">{{page.undertitle_claim}}</h3>
      </div>
      
      <div class="container">
        <div class="content photographer">

          <div class="photographer_face">
            <img src="{{ site.baseurl }}/assets/p/team/philippe-chevodian.jpg" alt="Philippe Chevodian">
          </div>
          <div class="photographer_text">
            <p class="photographer_intro">{{ content }}</p>
            {% if page.quote %}
            <p class="photographer_quote">{{ page.quote }}</p>
            {% endif %}
          </div>

        </div>
      </div>

      {% include footer.html %}

    </div>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
