---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body class="products accessories">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus group">

      <div class="container">
        <div class="content">

          <h3 class="center fat_dbl_header">{{ site.slogan }}</h3>
          <h1 class="center fat_dbl_header">Accessories</h1>

          <!-- accessories-looper -->
          <div class="looper" >

            <!-- pistols-looper -->
            {% for pistol in site.pistols %}
              <a class="looper__link pistol" href="{{ site.baseurl }}/pistols/{{ pistol.name}}">
                <div class="product_block">
                  <img  class="product_thumb" src="{{ site.baseurl }}/assets/p/accessories/pistols/{{ pistol.name}}/01.jpg" alt="Liquid Eye Pistols: {{ pistol.name }}">
                  <div class="product_group"><span>Pistol</span></div>
                  <h3>{{ pistol.name }}</h3>
                </div>
              </a>
            {% endfor %}

          </div>

        </div>
      </div>

      {% include footer.html %}

    </div>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
