---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body class="products accessories">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus group">

      <div class="container">
        <div class="content side_padded">

          <div class="fat_headers_block">
            <h3 class="center">{{ site.slogan }}</h3>
            <h1 class="center">Pistols and Grips</h1>
          </div>

          <div class="looper" >

            <!-- pistols-looper -->
            {% for pistol in site.pistols %}
              {% unless pistol.publish=="notyet" %}
                <a class="looper__link pistol" href="{{ site.baseurl }}/accessories/pistols/{{ pistol.name}}">
                  <div class="product_block">
                    <img  class="product_thumb" src="{{ site.baseurl }}/assets/p/accessories/pistols/{{ pistol.name}}/01.jpg" alt="Liquid Eye Pistols: {{ pistol.name }}">
                    <div class="product_group"><span>Pistol Grip</span></div>
                    <h3>{{ pistol.name }}</h3>
                  </div>
                </a>
              {% endunless %}
            {% endfor %}

            <!-- grips-looper -->
            {% for grip in site.grips %}
              {% unless grip.publish=="notyet" %}
                <a class="looper__link grip" href="{{ site.baseurl }}/accessories/grips/{{grip.name}}">
                  <div class="product_block">
                    <img  class="product_thumb" src="{{ site.baseurl }}/assets/p/accessories/grips/{{grip.name}}/01.jpg" alt="Liquid Eye grips: {{grip.display_name}}">
                    <div class="product_group"><span>Grip</span></div>
                    <h3>{{ grip.display_name }}</h3>
                  </div>
                </a>
              {% endunless %}
            {% endfor %}

          </div>

          <hr>

          <div class="fat_headers_block">
            <h1 class="center">S Ports</h1>
          </div>

          <!-- S ports-looper -->
          <div class="looper" >

            {% for port in site.ports %}
              {% unless port.publish=="notyet" %}

                {% if port.serie=="S" %}
                <a class="looper__link port" href="{{ site.baseurl }}/accessories/ports/{{ port.name}}">
                  <div class="product_block">
                    <img  class="product_thumb" src="{{ site.baseurl }}/assets/p/accessories/ports/{{ port.name | downcase }}/01.jpg" alt="Liquid Eye Front Ports: {{ port.name }}">
                    <div class="product_group"><span>Front Port</span></div>
                    <h3>{{ port.name }}</h3>
                  </div>
                </a>
                {% endif %}

              {% endunless %}
            {% endfor %}

          </div>

          <hr>

          <div class="fat_headers_block">
            <h1 class="center">M Ports</h1>
          </div>

          <!-- M ports-looper -->
          <div class="looper" >

            {% for port in site.ports %}
              {% unless port.publish=="notyet" %}

                {% if port.serie=="M" %}
                <a class="looper__link port" href="{{ site.baseurl }}/accessories/ports/{{ port.name}}">
                  <div class="product_block">
                    <img  class="product_thumb" src="{{ site.baseurl }}/assets/p/accessories/ports/{{ port.name | downcase }}/01.jpg" alt="Liquid Eye Front Ports: {{ port.name }}">
                    <div class="product_group"><span>Front Port</span></div>
                    <h3>{{ port.name }}</h3>
                  </div>
                </a>
                {% endif %}

              {% endunless %}
            {% endfor %}

          </div>

          <hr>

          <div class="fat_headers_block">
            <h1 class="center">L Ports</h1>
          </div>

          <!-- L ports-looper -->
          <div class="looper" >

            {% for port in site.ports %}
              {% unless port.publish=="notyet" %}

                {% if port.serie=="L" %}
                <a class="looper__link port" href="{{ site.baseurl }}/accessories/ports/{{ port.name}}">
                  <div class="product_block">
                    <img  class="product_thumb" src="{{ site.baseurl }}/assets/p/accessories/ports/{{ port.name | downcase }}/01.jpg" alt="Liquid Eye Front Ports: {{ port.name }}">
                    <div class="product_group"><span>Front Port</span></div>
                    <h3>{{ port.name }}</h3>
                  </div>
                </a>
                {% endif %}

              {% endunless %}
            {% endfor %}

          </div>



          <!-- Gearsleeves-looper
          <hr>

          <div class="fat_headers_block">
            <h1 class="center">Gearsleeves</h1>
          </div>

          <div class="looper" >

            {% comment %}gear-sleeves-looper{% endcomment %}

            {% for gearsleeve in site.gearsleeves %}
              {% unless gearsleeve.publish=="notyet" %}
                <a class="looper__link port" href="{{ site.baseurl }}/accessories/gear-sleeves/{{ gearsleeve.name}}">
                  <div class="product_block">
                    <img class="product_thumb" src="{{ site.baseurl }}/assets/p/accessories/gear-sleeves/{{ gearsleeve.name | downcase }}/01.jpg" alt="Liquid Eye Gear Sleeve: {{ gearsleeve.name }}">
                    <div class="product_group">
                      <span>Gear Sleeve</span>
                    </div>
                    <h3>{{ gearsleeve.name }}</h3>
                  </div>
                </a>
              {% endunless %}
            {% endfor %}

          </div>

          -->



          <!-- Spare Parts-looper
          <hr>

          <div class="fat_headers_block">
            <h1 class="center">Spare Parts</h1>
          </div>

          <div class="looper" >

            {% comment %}spareparts-looper{% endcomment %}
            {% for sparepart in site.spareparts %}
              {% unless sparepart.publish=="notyet" %}
                <a class="looper__link port" href="{{ site.baseurl }}/accessories/spare-parts/{{ sparepart.name}}">
                  <div class="product_block">
                    <img  class="product_thumb" src="{{ site.baseurl }}/assets/p/accessories/spare-parts/{{ sparepart.name | downcase }}/01.jpg" alt="Liquid Eye Spare Parts: {{ sparepart.name }}">
                    <div class="product_group"><span>Spare Part</span></div>
                    <h3>{{ sparepart.display_name }}</h3>
                  </div>
                </a>
              {% endunless %}
            {% endfor %}

          -->

        </div>
      </div>

      {% include footer.html %}

    </div>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
