---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body class="products accessories">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus group">

      <div class="container">
        <div class="content side_padded">

          <div class="fat_headers_block">
            <h3 class="center">{{ site.slogan }}</h3>
            <h1 class="center">Pistols, Ports, and Spare Accessories.</h1>
          </div>


          <!-- accessories-looper -->
          <div class="looper" >

            <!-- pistols-looper -->
            {% for pistol in site.pistols %}
              <a class="looper__link pistol" href="{{ site.baseurl }}/pistols/{{ pistol.name}}">
                <div class="product_block">
                  <img  class="product_thumb" src="{{ site.baseurl }}/assets/p/accessories/pistols/{{ pistol.name}}/01.jpg" alt="Liquid Eye Pistols: {{ pistol.name }}">
                  <div class="product_group"><span>Pistol Grip</span></div>
                  <h3>{{ pistol.name }}</h3>
                </div>
              </a>
            {% endfor %}

            <!-- ports-looper -->
            {% for port in site.ports %}
              <a class="looper__link port" href="{{ site.baseurl }}/ports/{{ port.name}}">
                <div class="product_block">
                  <img  class="product_thumb" src="{{ site.baseurl }}/assets/p/accessories/ports/{{ port.name | downcase }}/01.png" alt="Liquid Eye Front Ports: {{ port.name }}">
                  <div class="product_group"><span>Front Port</span></div>
                  <h3>{{ port.name }}</h3>
                </div>
              </a>
            {% endfor %}


            <!-- gear-sleeves-looper -->
            {% for gearsleeve in site.gearsleeves %}
              <a class="looper__link port" href="{{ site.baseurl }}/gear-sleeves/{{ gearsleeve.name}}">
                <div class="product_block">
                  <img class="product_thumb" src="{{ site.baseurl }}/assets/p/accessories/gear-sleeves/{{ gearsleeve.name | downcase }}/01.png" alt="Liquid Eye Gear Sleeve: {{ gearsleeve.name }}">
                  <div class="product_group">
                    <span>Gear Sleeve</span>
                  </div>
                  <h3>{{ gearsleeve.name }}</h3>
                </div>
              </a>
            {% endfor %}


            <!-- spare-parts-looper -->
            {% for sparepart in site.spareparts %}
              <a class="looper__link port" href="{{ site.baseurl }}/spare-parts/{{ sparepart.name}}">
                <div class="product_block">
                  <img  class="product_thumb" src="{{ site.baseurl }}/assets/p/accessories/spare-parts/{{ sparepart.name | downcase }}/01.png" alt="Liquid Eye Spare Parts: {{ sparepart.name }}">
                  <div class="product_group"><span>Spare Part</span></div>
                  <h3>{{ sparepart.display_name }}</h3>
                </div>
              </a>
            {% endfor %}

          </div>

        </div>
      </div>

      {% include footer.html %}

    </div>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
