---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body class="contact">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus colored_background group">

      <div class="container">
        <div class="content side_padded form">

          {% include form.html %}

        </div>
      </div>

      {% include footer.html %}

    </div>

    <script type="text/javascript">var submitted=false;</script>

    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>


    {% include script_jquery.html %}

    <script type="text/javascript">
      $('#gform').on('submit', function(e) {
        $('#gform > *').fadeOut(2000);
        $('#gform').prepend('Your message has been sent. If you do not receive a reply within 72 hours, then please use this direct email contact@liquideye-whs.com, thank you!');
      });
    </script>


    {% include script_toggle_currencymap.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
