---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body class="accessory gearsleeves">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus group">

      <div class="container">
        <div class="content side_padded">

          <div class="fat_headers_block">
            <h3 class="center">{{ site.slogan }}</h3>
            <h1 class="center">{{ page.name | upcase }} Gear Sleeve</h1>
          </div>

          <div class="product_top_block">

            <div class="product_photos">
              <img src="{{site.baseurl}}/assets/p/accessories/gear-sleeves/{{page.name}}/01.jpg" alt="Liquid Eye Gear Sleeves: {{ page.name }}">
            </div>

            <div class="product_intro">
              <h2>Product Overview</h2>
              <div class="">{{content}}</div>
              <div class="price">{{page.price}}</div>
              <div class="order_button">
                <a href="{{site.baseurl}}/contact/"><span>Order Now</span></a>
              </div>
            </div>

          </div>

          <div class="product_data group">

            <h2>Product Information</h2>

            <div class="data_block product_specifications row">
              {% include product_features.html %}
            </div>

            <div class="data_block product_specifications row">
              {% include product_specs.html %}
            </div>

          </div>

        </div>
      </div>

      {% include footer.html %}

    </div>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
