---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body class="home flickity">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus colored_background group">

      <div class="slideshow_wrap">

        <div class="carousel" data-flickity='{ "autoPlay": true }'>
        
          {% for image in site.static_files %}
            {% if image.path contains 'p/home' %}
              <div class="carousel-cell">
                <figure class="">
                  <img clasa="carousel-cell-image" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                </figure>
              </div>
            {% endif %}
          {% endfor %}
          

        </div>

      </div>

      <div class="container">
        <div class="content">

          <h3 class="center">Water-Housing Solutions</h3>
          <h1 class="center">{{site.slogan}}</h1>

          {{ content }}

        </div>
      </div>

      {% include footer.html %}

    </div>

    {% include script_flickity.html %}

    <script type="text/javascript">
      // var elem = document.querySelector('.main-carousel');
      // var flkty = new Flickity( elem, {
      //   // options
      //   cellAlign: 'left',
      //   contain: true
      // });
    </script>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
