---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body class="home lory">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus colored_background group">

      <div class="slider_wrap">
        <div class="slider js_percentage percentage">

          <div class="frame js_frame">
              <ul class="slides js_slides">

                {% for image in site.static_files %}
                    {% if image.path contains 'p/home' %}
                    <li class="js_slide">
                      <figure class="">
                        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                      </figure>
                    </li>
                    {% endif %}
                {% endfor %}

              </ul>
          </div>

          <span class="js_prev prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></g></svg>
          </span>
          <span class="js_next next">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></g></svg>
          </span>

      </div>
      </div>

      <div class="container">
        <div class="content">

          <h3 class="center">Water-Housing Solutions</h3>
          <h1 class="center">{{site.slogan}}</h1>

          {{ content }}

        </div>
      </div>

      {% include footer.html %}

    </div>

    {% include script_lory.html %}

    <script>
      'use strict';
      document.addEventListener('DOMContentLoaded', function () {
        var percentage = document.querySelector('.js_percentage');

        lory(percentage, {
          infinite: 1,
          rewind: true,
          enableMouseEvents: true
        });
      });
    </script>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
