---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body class="housings">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus group">

      <div class="container">
        <div class="content">

          <h3 class="center fat_dbl_header">{{ site.slogan }}</h3>
          <h1 class="center fat_dbl_header">Professional, Intermediate and Beginner Water Housings</h1>

          <!-- housings-looper -->
          <div class="looper" >

            {% for housing in site.waterhousings %}
              {% if housing.level=="professional" %}
              <a class="looper__link" href="/water-housings/{{ housing.name | prepend: site.baseurl }}">
                <div class="housing_block">
                  <img  class="housing_thumb" src="{{ site.baseurl }}/assets/p/housings/{{ housing.name}}/01.jpg" alt="Liquid Eye model {{ housing.name }}">
                  <div class="level"><span>{{ housing.level }}</span></div>
                  <h3>{{ housing.name }}</h3>
                </div>
              </a>
              {% endif %}
            {% endfor %}

            {% for housing in site.waterhousings %}
              {% if housing.level=="intermediate" %}
              <a class="looper__link" href="{{ site.url }}water-housings/{{ housing.name}}">
                <div class="housing_block">
                  <img  class="housing_thumb" src="{{ site.baseurl }}/assets/p/housings/{{ housing.name}}/01.jpg" alt="Liquid Eye model {{ housing.name }}">
                  <div class="level"><span>{{ housing.level }}</span></div>
                  <h3>{{ housing.name }}</h3>
                </div>
              </a>
              {% endif %}
            {% endfor %}

            {% for housing in site.waterhousings %}
              {% if housing.level=="beginner" %}
              <a class="looper__link" href="water-housings/{{ housing.name | prepend: site.baseurl }}">
                <div class="housing_block">
                  <img  class="housing_thumb" src="{{ site.baseurl }}/assets/p/housings/{{ housing.name}}/01.jpg" alt="Liquid Eye model {{ housing.name }}">
                  <div class="level"><span>{{ housing.level }}</span></div>
                  <h3>{{ housing.name }}</h3>
                </div>
              </a>
              {% endif %}
            {% endfor %}

          </div>

        </div>
      </div>

      {% include footer.html %}

    </div>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
