---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body class="accessory port">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus group">

      <div class="container">
        <div class="content">

          <div class="fat_dbl_header">
            <h3 class="center">{{ site.slogan }}</h3>
            <h1 class="center">{{ page.name | upcase }} Front Port</h1>
          </div>

          <div class="product_top_block">

            <div class="product_photos">
              <img src="{{site.baseurl}}/assets/p/accessories/ports/{{page.name}}/01.png" alt="Liquid Eye {{ page.name | upcase }} port">
            </div>

            <div class="product_intro">
              <h2>Product Overview</h2>
              <div class="">{{content}}</div>
              <div class="price">{{page.price}}</div>
              <div class="order_button">
                <a href="#"><span>Order Now</span></a>
              </div>
            </div>

          </div>

          <div class="product_data group">

            <h2>Product Information</h2>

            <div class="data_block product_specifications row">
              <div class="title column">
                <h3>Features</h3>
              </div>
              <div class="data column">
                <p>{{page.features.feature1}}</p>
                <p>{{page.features.feature2}}</p>
                <p>{{page.features.feature3}}</p>
                <p>{{page.features.feature4}}</p>
                <p>{{page.features.feature5}}</p>
                <p>{{page.features.feature6}}</p>
              </div>
            </div>


            <div class="data_block product_specifications row">
              <div class="title column">
                <h3>Tech Specs</h3>
              </div>
              <div class="data column">
                <p class=""><strong>Size and Weight</strong></p>
                <p>Width: {{page.specifications.width}}</p>
                <p>Height: {{page.specifications.height}}</p>
                <p>Depth: {{page.specifications.depth}}</p>
                <p>Weight: {{page.specifications.weight}}</p>
                <p class=""><strong>Material</strong></p>
                {{page.specifications.material | markdownify }}
              </div>
            </div>

          </div>

        </div>
      </div>

      {% include footer.html %}

    </div>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
