---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body class="team team_photographer">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus group">

      <div class="container content photographer">
        <div class="photographer_face">
          <img src="{{ site.baseurl }}/assets/p/team/{{ page.name | slugify: 'pretty' }}.jpg" alt="{{ page.name }}">
        </div>
        <div class="photographer_text">
          <h2 class="photographer_name">{{ page.name }}</h2>
          <p class="photographer_intro">{{ content }}</p>
          {% if page.quote %}
          <p class="photographer_quote">{{ page.quote }}</p>
          {% endif %}
        </div>
      </div>

      {% include footer.html %}

    </div>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
