---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body class="testimonials">

    {% include svg/defs.html %}

    {% include header.html %}

    <div class="bungkus colored_background group">

      <div class="container">
        <div class="content side_padded">

          <div class="fat_headers_block">
            <h3 class="center">{{site.slogan}}</h3>
            <h1 class="center">What are customers saying about our products.</h1>
          </div>

          <!-- testimonials-looper -->
          <div class="looper" >

            <div class="testimonial_intro">{{ content }}</div>

            {% for testimonial in site.testimonials %}
              <div class="looper__link testimonial">

                <div class="testimonial_header">

                  <h2 class="testimonial_name">{{ testimonial.name }}</h2>

                  <div class="testimonial_contacts">

                  {% if testimonial.website %}
                    <div class="testimonial_website">
                      <a class="link_underline" href="{{ testimonial.website }}" title="check his website">Website</a>
                    </div>
                  {% endif %}

                  {% if testimonial.instagram %}
                    <div class="testimonial_instagram">
                      <a class="link_underline" href="{{ testimonial.instagram }}" title="check his Instagram">Instagram</a>
                    </div>
                  {% endif %}

                  {% if testimonial.email %}
                    <div class="testimonial_email">
                      <a class="link_underline" href="mailto:{{ testimonial.email }}" title="write him an email">Mail</a>
                    </div>
                  {% endif %}

                  </div>

                </div>

                <div class="testimonial_photo">
                  <img src="{{ site.baseurl }}/assets/p/testimonials/{{ testimonial.name | slugify: 'pretty' }}.jpg" alt="{{ testimonial.name }}">
                </div>

                <p class="testimonial_quote">{{ testimonial.content | strip_html | normalize_whitespace }}</p>

              </div>
            {% endfor %}

          </div>

        </div>
      </div>

      {% include footer.html %}

    </div>

    {% include script_ext_link.html %}

    {% include script_google_analytics.html %}

  </body>

</html>
